@model proyectoInmobiliariaNuevo.Models.Usuario

@{
    ViewBag.Title = "Eliminar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card shadow-lg p-4" style="width: 400px; border-radius: 20px;">
        <h3 class="text-danger text-center mb-4">¿Eliminar este usuario?</h3>

        <div class="text-center mb-3">
            <img src="@(!string.IsNullOrEmpty(Model.FotoPerfil) ? Model.FotoPerfil : "/imagenes/usuarios/default.png")" 
                 alt="Foto de perfil" 
                 class="rounded-circle shadow" 
                 style="width: 80px; height: 80px; object-fit: cover;" />
        </div>

        <p class="text-center"><strong>Usuario:</strong> @Model.UsuarioNombre</p>
        <p class="text-center"><strong>Nombre y Apellido:</strong> @Model.NombreyApellido</p>
        <p class="text-center"><strong>Rol:</strong> @Model.Rol</p>

        @using (Html.BeginForm("Delete", "Usuarios", FormMethod.Post))
        {
             @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.IdUsuario)

            <div class="d-flex justify-content-between mt-4">
                <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </div>
        }
    </div>
</div>
